
.encabezado{
    font-weight: bold;
    font-size: 23px;
}

.lbl-crear-cliente{
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
}

/* Hace que los headers queden fijos */
table th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background: rgb(247, 247, 247);
}

.btnFontAwesome{
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

#tableClientes_filter.dataTables_filter{
    display: none;
}

